body {
  background-color: #8359bb;
}

.title {
  color: white;
  background-color: #8359bb;
  margin-top: 10px;
}

.card {
  padding: 0;
  border-radius: 10px;
}

form {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.form-control {
  width: 60%;
  margin-right: 10px;
  height: calc(1em + .75rem + 2px);
  border: none;
  border-bottom: 2px solid #8359bb;
  border-radius: 0;
  outline: none;
}

.form-control:focus {
  box-shadow: none;
}

.add-btn {
  color: white;
  border-radius: 10px;
  border: none;
  background-color: #8359bb;
  padding: 5px 10px;
}

.todo_list {
  display: flex;
  justify-content: space-around;
  padding: 10px 40px;
  align-items: center;
  color: #8359bb;
}

.todo_list p {
  margin-bottom: 0;
  font-size: 16px;
}

.todo_list input[type="checkbox"] {
  height: 20px;
  width: 20px;
  accent-color: #8359bb;
}

.newfa {
  cursor: pointer;
  font-size: 20px;
  color: #8359bb;
}